h2
{
  font-family:georgia;
  font-size:60px;
  color: aliceblue;
  text-align:center;
  width: 600px;
  height: 80px;
  margin-left: 400px;
  border: 10px solid red;
  border-radius:50px 20px;
  text-decoration: underline;
  
}

form
{
  text-align: center;
}
input[type=text],input[type=email],input[type=password],input[type=tel] {
 
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-left: 50px;
  
 
}

input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,input[type=tel]:focus
{
  background-color: lightblue;
}
label[for=fname],label[for=lname],label[for=email],label[for=pwd],label[for=phone]
{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 12px 12px 12px 0;
  font-size:30px;
  margin-left: 50px;
  text-align: center;
  color: aliceblue;
  font-style: normal;
}
input[type=submit]{
  background: #0d8bf2;
  font-size: 28px;
  color: rgb(7, 7, 7);
  border: 10px solid #0d8bf2;
  border-radius: 50px;
  text-shadow: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
input[type=submit]:hover
{
  background-color: rgb(0, 255, 34);
            color: rgb(248, 0, 227);
            border: 10px solid rgb(0, 255, 34);;
}
 
label[for=email]
{
  margin-right:40px;
  margin-left: 50px;
  }
label[for=pwd]
{
  margin-right:30px;
}
label[for=phone]
{
  margin-right:-45px;
}
label[for=fname]
{
margin-right: 10px;
margin-left: 50px;
}
label[for=lname]
{
  margin-left: 50px;
  margin-right: 15px;
}
.required:after {
  content:"*";
  color: red;
  font-size:small;
  vertical-align:super;
  
}
.btn-outline-primary{
  color: azure;
}